html {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  background-color: #050505;
  color-scheme: dark;
}

::selection {
  background: #f596aa66;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}